/* 
    Created on : Jul 4, 2021, 11:20:33 AM
    Author     : János Arenhövel
*/

* {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #3d3d3d;
	color: #fff;
	overflow-x: hidden;
}

#message {
	position: fixed;
	bottom: -200px;
	min-width: 150px;
	min-height: 40px;
	background-color: #36f;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	border-radius: 5px;
	text-align: center;
	font-size: large;
	font-weight: 600;
	padding: 10px;
	box-sizing: border-box;
	z-index: 100;
	transition: bottom .4s;
}

#backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 70;
	background-color: rgba(0, 0, 0, .75);
	opacity: 0;
	display: none;
	transition: opacity .2s;
}

.clearfix {
	white-space: nowrap;
}

.content {
	position: absolute;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 20px;
}

#drinks {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media screen and (max-width: 1250px) {
	#drinks {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1000px) {
	#drinks {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media screen and (max-width: 750px) {
	#drinks {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

.drink {
	width: auto;
	float: left;
	height: 175px;
	border-radius: 10px;
	background: linear-gradient(135deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .25) 100%);
	background-color: #a33;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}

.drink .drinkName, #order #title {
	font-size: x-large;
	font-weight: 700;
}

.drink .drinkIngredients {
	padding-top: 8px;
}

.drink .drinkOrder, #order #go {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 6px; 
	line-height: 20px;
	font-weight: 600;
	cursor: pointer;
	background-color: rgba(255, 255, 255, .15);
	transition: background-color .2s;
}

.drink .drinkOrder:hover, #order #go:hover {
	background-color: rgba(255, 255, 255, .25);
}

.drink .drinkOrder span, #order #go span {
	line-height: 20px;
	vertical-align: bottom;
}

#order {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	width: 400px;
	padding: 20px;
	box-sizing: border-box;
	max-width: calc(100% - 40px);
	height: 200px;
	border-radius: 10px;
}

#order #amount {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#order #amount p {
	float: left;
	line-height: 20px;
	padding: 5px;
}

#order #amount .material-icons {
	background-color: rgba(255, 255, 255, .15);
	transition: background-color .2s;
	border-radius: 6px;
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#order #amount .material-icons:hover {
	background-color: rgba(255, 255, 255, .25);
}

#stateBar {
	position: fixed;
	height: 40px;
	bottom: 0px;
	width: 100%;
	background-color: #333;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	z-index: 75;
}

#stateBar #stateText {
	font-weight: bold;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
	position: absolute;
	z-index: 50;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.35);
}

#stateBar #cover {
	position: absolute;
	height: 40px;
	width: 110%;
	background-color: #333;
	opacity: .6;
	z-index: 25;
	right: -23px;
	transition: width .5s linear;
}

#stateBar #cover:after {
	content: "";
	width: 80px;
	height: 80px;
	background-color: transparent;
	display: inline-block;
	transform: rotate(45deg);
	border-top: 20px solid #333;
	border-right: 20px solid #333;
	box-sizing: border-box;
	margin-top: -20px;
	margin-left: -70px;
}

#stateBar #colorOverlay {
	position: absolute;
	height: 40px;
	width: 100%;
	z-index: 20;
	background: linear-gradient(135deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .25) 100%);
	background-color: #fff;
	mix-blend-mode: multiply;
}

#stateBar #bar {
	padding: 0px;
	white-space: nowrap;
	font-size: 0px;
}

#stateBar #bar .bar {
	height: 40px;
	display: inline-block;
    line-height: 0;
	background-color: #fff;
}

#stateBar #bar .bar:after {
	content: "";
	width: 40px;
	height: 40px;
	margin-right: -20px;
	background-color: inherit;
	display: inline-block;
	float: right;
	transform: rotate(45deg);
	box-sizing: border-box;
	border-right: 5px solid #3d3d3d; 
	border-top: 5px solid #3d3d3d; 
}